.bg-AbsoluteZero
{
    background-color: #0048BA;
}

.bg-AcidGreen{
    background-color: #B0BF1A;
}   
  
.bg-Aero{
    background-color: #7CB9E8;
}
.bg-AeroBlue{
   background-color: #C9FFE5;
}

.bg-blue1{
   background-color: #25B7D3;
}  

.bg-Aqua{
     background-color: #00FFFF;
}

.bg-BlueViolet{
     background-color: #8A2BE2;
}

.bg-CadetBlue {
     background-color: #5F9EA0;
}

.bg-CornflowerBlue  {
     background-color: #6495ED;
}

.bg-DarkGray   {
     background-color: #A9A9A9;
}